/*Basic Styling for all Elements*/
:root {
  --background-color: #282828;
  --secbackground-color: #3a3a3a;
  --fontColor: white;
}
.light-mode {
  --background-color: whitesmoke;
  --secbackground-color: white;
  --fontColor: black;
}

html {
  scroll-behavior: smooth;
  overflow: hidden;
  cursor: default;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/*Navigation Bar*/
nav {
  z-index: 99;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: var(--background-color);
}

/*Elements inside Navbar*/
/*Logo Container*/
.logo {
  color: darkgoldenrod;
  font-family: "IM Fell DW Pica SC", serif;
}

/*Text inside Logo Container*/
.logo h4 {
  font-size: 3.5vh;
}

#titleLink{
  color: darkgoldenrod;
  text-decoration-line: none;
}

/*Say Something Smart - Section*/
#randomFacts {
  color: darkgoldenrod;
  font-style: normal;
  font-family: "Red Hat Mono", monospace;
  text-decoration-line: none;
  font-size: 1.5em;
}

#randomFacts:hover {
  cursor: pointer;
  color: darkgoldenrod;
  text-decoration-line: underline;
}

/*Links inside the Menu*/
.nav-links {
  position: absolute;
  right: 0px;
  height: 90vh;
  top: 10vh;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  z-index: 30;
  width: 100%;
  transform: translateX(100%);
  transition: transform 0.5s ease-in;
  padding: 1em;
}

.nav-links li {
  list-style-type: none;
  opacity: 0;
}

.nav-links a {
  color: darkgoldenrod;
  text-decoration: none;
  font-family: "Red Hat Mono", monospace;
  font-size: 30px;
}

.nav-links a:hover {
  color: darkgoldenrod;
  text-decoration: underline;
}

.nav-active {
  transform: translateX(0%);
}

/*Menu Icon*/
.burger {
  display: block;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: darkgoldenrod;
  margin: 5px;
  transition: all 0.3s ease;
}

/*Each Line of the Burger*/
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/*End of Navbar*/

.grid-container {
  z-index: 0;
  display: grid;
  grid-row: auto auto auto;
  width: 100%;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.img{
  width: 35vw;
  height: auto;
}

.infTable{
  font-family: 'Epilogue', sans-serif;
  color: var(--fontColor);
  font-size: 2vw;
}
.links{
  color: var(--fontColor);
  text-decoration-line: none;
}
.links:hover{
  color: var(--fontColor);
  text-decoration-line: underline;
}
.links:visited{
  color: var(--fontColor);
  text-decoration-line: none;
}

.item-1 {
  justify-content: center;
  height: 15vh;
  z-index: 20;
}

.textField{
  font-family: 'Epilogue', sans-serif;
  color: var(--fontColor);
  font-size: 1.1vw;
}

.textFieldHeader{
  font-size: 2.2vw;
}

.downButton-Item {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.upButton-Item {
  display: grid;
  justify-content: center;
  align-items: flex-end;
  height: 10vh;
  padding-bottom: 2.5vh;
}

.arrow{
  color: grey;
}
.arrow:hover{
  transition-duration: 0.5s;
  color: #c2c2c2;
}

.item-2 {
  height: 75vh;
  display: grid;
  justify-content: center;
  align-items: center;
  background-image: url("../SpainImg/Spain1790/SpainFlag.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: 0em 1em 0em 1em;
  border: 0.1rem solid #333;
}

.item-3 {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.item-4 {
  display: grid;
  justify-content: center;
  align-items: flex-end;
  height: 10vh;
  z-index: 20;
  padding-bottom: 2.5vh;
}

.item-5 {
  padding: 7vh;
  height: 80vh;
  display: grid;
  background-repeat: repeat;
  margin: 0em 1em 0em 1em;
  border: 0.1rem solid #333;
  background-color: var(--background-color);
}

.item-6 {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 10vh;
}
/*Content of Item-2*/
.mainTitle {
  font-family: 'Epilogue', sans-serif;
  text-align: center;
  font-size: 4rem;
}

/*Content of Item-3*/
.downArrow {
  width: 2em;
  height: 2em;
  opacity: 0.2;
  transition: 1s ease-out;
}

.downArrow:hover {
  opacity: 1;
  transition: 1s ease;
}

/*Random Facts Pop Up Form Style*/
.popUp {
  display: none;
  font-family: "Red Hat Mono", monospace;
  background-color: var(--background-color);
  border: 1px solid black;
  border-radius: 10px;
  position: fixed;
  z-index: 99;
  width: auto;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: var(--fontColor);
}

#popUpTitle {
  color: darkgoldenrod;
  padding-top: 2vh;
  padding-left: 2em;
  padding-right: 2em;
  font-size: 5vh;
}

#facts {
  color: var(--fontColor);
  padding: 2vh;
  font-size: 2vh;
}

#highlight_close {
  height: 5vh;
  padding: 1vh;
  float: right;
  color: black;
  border-radius: 25px;
  background-color: darkgoldenrod;
}

#highlight_close:hover {
  cursor: pointer;
}

/*End of Form*/

#section1{
  background-color: var(--secbackground-color);
}

#section2 {
  background-color: var(--secbackground-color);
  width: 100vw;
  height: 100vh;
}

#section3{
  background-color: var(--secbackground-color);
}

/*General Styling for Mobile and Table View*/
@media screen and (max-width: 768px) {
  /*Decrease the Fontsize of the Main Title*/
  .item-1 {
    height: 20vh;
  }

  .item-2 {
    height: 70vh;
  }

  .mainTitle {
    font-size: 2.3rem;
  }

  .nav-links {
    top: 18vh;
    height: 82vh;
  }

  .nav-links a {
    font-size: 25px;
  }
  /*Stack each element on top of each other in the Navbar*/
  nav {
    flex-direction: column;
  }

  /*Increase the Menu Icon bottom and top padding*/
  .burger {
    padding: 0.6rem 0;
  }
}

/*Animation for slidding in the Links*/
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
