.content {
    border: 1px solid grey;
    border-radius: 1em;
    margin: 1em;
    padding: 2em;
    padding-left: 3em;
    font-family: sans-serif;
}

.custom-container{
    margin-left:10em;
    margin-right: 10em;
}

.header{
    text-align: center;
    margin: 0.5em;
}
