html{
    background-image: url("Images/background.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1{
    text-align: center;
    color: white;
    font-family: Times, Times New Roman, serif;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;;
}
