@import url("../css/navbar.css");
@import url("../css/saySomethingSmart.css");
@import url("../css/preload.css");
@import url("../css/dropdown.css");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.customWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /*background-color: #161623;*/
}

.customWrapper h1{
    color: var(--light-text-color);
    position: absolute;
    top: 3em;
    font-size: 3rem;
    font-weight: bolder;

    text-decoration: underline;
}

body{
    background-image: url("img/backgroundImg.jpg");
    background-size: cover;
}

/*body::before{*/
/*    content: "";*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    background: linear-gradient(#f00, #f0f);*/
/*    clip-path: circle(30% at right 70%);*/
/*}*/

/*body::after{*/
/*    content: "";*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    background: linear-gradient(#2196f3, #e91363);*/
/*    clip-path: circle(20% at 10% 70%);*/
/*}*/


.customContainer{
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 3em;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    z-index: 1;
}

.customContainer .customCard{
    position: relative;
    width: 280px;
    height: 400px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}

.customContainer .customCard .customContent{
    padding: 40px;
    text-align: center;
    transform: translateY(100px);
    opacity: 0;
    transition: 0.5s;
}

.customContainer .customCard:hover .customContent{
    transform: translateY(0px);
    opacity: 1;
}

.customContainer .customCard .customContent img{
    width: 60%;
}

.customContainer .customCard .customContent h2{
    position: absolute;
    top: -60px;
    right: 10px;
    font-size: 8em;
    color: rgba(255, 255, 255, 0.5);
    pointer-events: none;
}

.customContainer .customCard .customContent h3{
    font-size: 1.8em;
    color: var(--dark-text-color);
    z-index: 1;
}

.customContainer .customCard .customContent ul{
    margin-top: 2em;
    line-height: 0.5em;
}


.customContainer .customCard .customContent p{
    font-size: 1em;
    color: var(--dark-text-color);
    font-weight: 300;
}

.customContainer .customCard .customContent span{
    position: relative;
    display: inline-block;
    padding: 8px 25px;

    margin-top: 15px;
    background: #fff;
    color: #000;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    transition: 0.2s;
}

.customContainer .customCard .customContent span:hover{
    color: var(--light-text-color);
    background-color: var(--light-dark-background-color);
}
@media only screen and (max-width: 600px){
    .customContainer .customCard .customContent p{
        color: var(--light-text-color);
        font-weight: bold;
    }
    .customContainer .customCard .customContent h3{
        color: var(--light-text-color);
        font-weight: bold;
    }

    .customContainer .customCard .customContent ul{
        color: var(--light-text-color);
    }

    .customWrapper h1{
        top: 3em;
        font-size: 1.5rem;
    }

    .customContainer{
        margin-top: 6em;
    }
}

