html{
  background-color: #282828;
}

#headBlock{
  font-family: 'IM Fell DW Pica SC', serif;
  background-color: #282828;
  color: darkgoldenrod;
  margin: 0px;
  width: 100%;
}

#rightData{
  font-family: 'Red Hat Mono', monospace;
  text-align: right;
  font-size: 3vh;
  padding-right: 4%;
  padding-top: 1%;
}

.upperLink{
  color: darkgoldenrod;
  font-style: normal;
}
.upperLink:hover{
  cursor: pointer;
  color: darkgoldenrod;
  text-decoration-line: underline;
}

#titel{
  padding-left: 4%;
  padding-top: 2%;
  padding-bottom: 1%;
  font-size: 4.5vh;
}
.grid-container{
  background-color: #282828;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  grid-gap: 10px;
}

.item1{
  background-color: #282828;
  grid-column-start: 1;
  grid-column-end: 4;
}
.item2{
  grid-column-start: 1;
  grid-column-end: 4;
}
.item3{
  background-color: #282828;
  grid-column-start: 1;
  grid-column-end: 4;
}

.carousel .carousel-inner{
  background-color: #282828;
  width: 100%;
  height: auto;
}
#countryCarousel{
  background-color: #3a3a3a;
}

#buttonRow{
  width: 100%;
  background-color: #3a3a3a;
  padding-top: 3.5pc;
  padding-bottom: 3.5pc;
  font-size: 4vh;
  color: darkgoldenrod;
  text-align: center;
  font-family: 'Red Hat Mono', monospace;
}

.button{
  transition-duration: 1s;
  width: 55%;
  height: 50vh;
  border: solid black;
  border-radius: 0.3em;
  color: white;
  background-color: dimgrey;
}
.button:hover{
  transition-duration: 1s;
  background-color: darkgrey;
  border: solid #4f4f4f;
  cursor: pointer;
}

.countryButton{
  font-size: 4vh;
  font-family: 'Red Hat Mono', monospace;
  color: white;
  border: none;
  border-radius: 0.3em;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 80%;
  height: 50vh;
  border-collapse: collapse;
}

#button1{
  background-image: url("flags/UK_flag2.jpg");
  background-size: 100% 100%;
}
#button2{
  color: black;
  background-image: url("flags/France_flag2.jpg");
  background-size: 100% 100%;
}
#button3{
  background-image: url("flags/Germany_flag2.jpg");
  background-size: 100% 100%;
}
#button4{
  color: black;
  background-image: url("flags/Austria_flag.jpg");
  background-size: 100% 100%;
}
.countryButton:hover{
  transition-duration: 1s;
  background-color: darkgrey;
  cursor: pointer;
}

.popUp{
  display: none;
  font-family: 'Red Hat Mono', monospace;
  background-color: #282828;
  border-radius: 10px;
  position: fixed;
  z-index: 99;
  width: 50%;
  height: 25%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

#popUpTitle{
  color: darkgoldenrod;
  padding-top: 2vh;
}

#facts{
  color: white;
  padding-top: 2vh;
  font-size: 2vh;
}

#highlight_close{
  position: fixed;
  margin-left: 47%;
  margin-top: -1%;
  color: black;
  border-radius: 25px;
  background-color: darkgoldenrod;
  font-size: 40px;
}
#highlight_close:hover{
  cursor: pointer;
}
/*
.innerText{
  font-family: 'IM Fell DW Pica SC', serif;
  color: white;
  font-size: 15vh;
}

#text1-inner{
  padding-bottom: 50vh;
}

#text2-inner{
  text-align: right;
}

#text3-inner{
  padding-bottom: 1.5em;
  padding-right: 2em;
  text-align: left;
}

#text4-inner{
  padding-bottom: 2.5em;
  padding-left: 2em;
  text-align: right;
}
*/
#section1{
  background-color: #282828;
  padding-bottom: 3.5pc;
  font-family: 'Red Hat Mono', monospace;
  color: darkgoldenrod;
  padding-top: 2%;
  padding-left: 1%;
  font-size: 5vh;
  text-align: center;
}

#section2{
  font-family: 'Red Hat Mono', monospace;
  color: darkgoldenrod;
  padding-top: 2%;
  padding-left: 1%;
  font-size: 5vh;
}

