html {
  background-color: #282828;
  cursor: default;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.preload {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #6e7a7c;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s ease;
  z-index: 100;
}

.preload h1 {
  position: absolute;
  top: 75%;
  color: #fff;
  font-family: "Nanum Myeongjo", serif;
}

.preload-finish {
  opacity: 0;
  pointer-events: none;
}
.globe {
  width: 10em;
  height: 10em;
  animation: globe 1s ease infinite alternate;
}

@keyframes globe {
  from {
    transform: translateY(0em);
  }
  to {
    transform: translateY(3em);
  }
}
#headBlock {
  font-family: "IM Fell DW Pica SC", serif;
  background-color: #282828;
  color: darkgoldenrod;
  margin: 0px;
  width: 100%;
}

#rightData {
  font-family: "Red Hat Mono", monospace;
  text-align: right;
  font-size: 3vh;
  padding-right: 4%;
  padding-top: 1%;
}

.upperLink {
  color: darkgoldenrod;
  font-style: normal;
}
.upperLink:hover {
  cursor: pointer;
  color: darkgoldenrod;
  text-decoration-line: underline;
}
.bottomLink {
  color: white;
  font-style: normal;
}
.bottomLink:hover {
  cursor: pointer;
  color: white;
  text-decoration-line: underline;
}
.bottomLink:visited {
  color: white;
}

#titel {
  padding-left: 4%;
  padding-top: 2%;
  padding-bottom: 1%;
  font-size: 4.5vh;
}
.grid-container {
  background-color: #282828;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  grid-gap: 10px;
}

.item1 {
  background-color: #282828;
  grid-column-start: 1;
  grid-column-end: 4;
}
.item2 {
  grid-column-start: 1;
  grid-column-end: 4;
}
.item3 {
  background-color: #282828;
  grid-column-start: 1;
  grid-column-end: 4;
}

.carousel .carousel-inner {
  z-index: 0;
  background-color: #282828;
  width: 100%;
  height: auto;
}
#countryCarousel {
  background-color: #3a3a3a;
}

#buttonRow {
  width: 100.8%;
  background-color: #3a3a3a;
  padding-top: 3.5pc;
  padding-bottom: 3.5pc;
  font-size: 4vh;
  color: darkgoldenrod;
  text-align: center;
  font-family: "Red Hat Mono", monospace;
  padding-left: -10px;
}

.button {
  transition-duration: 1s;
  width: 55%;
  height: 50vh;
  border: solid black;
  border-radius: 0.3em;
  color: white;
  background-color: dimgrey;
}
.button:hover {
  transition-duration: 1s;
  background-color: darkgrey;
  border: solid #4f4f4f;
  cursor: pointer;
}

.countryButton {
  font-size: 4vh;
  font-family: "Red Hat Mono", monospace;
  color: white;
  border: none;
  border-radius: 0.3em;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 80%;
  height: 50vh;
  border-collapse: collapse;
}

#button1 {
  background-image: url("flags/UK_flag2.jpg");
  background-size: 100% 100%;
}
#button2 {
  color: black;
  background-image: url("flags/France_flag2.jpg");
  background-size: 100% 100%;
}
#button3 {
  background-image: url("flags/Germany_flag2.jpg");
  background-size: 100% 100%;
}
#button4 {
  color: black;
  background-image: url("flags/Austria_flag.jpg");
  background-size: 100% 100%;
}
.countryButton:hover {
  transition-duration: 1s;
  background-color: darkgrey;
  cursor: pointer;
}

.popUp {
  display: none;
  font-family: "Red Hat Mono", monospace;
  background-color: #282828;
  border: 1px solid black;
  border-radius: 10px;
  position: fixed;
  z-index: 99;
  width: auto;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

#popUpTitle {
  color: darkgoldenrod;
  padding-top: 2vh;
  font-size: 5vh;
}

#facts {
  color: white;
  padding: 2vh;
  font-size: 2vh;
}

#highlight_close {
  height: 5vh;
  padding: 1vh;
  float: right;
  color: black;
  border-radius: 25px;
  background-color: darkgoldenrod;
}
#highlight_close:hover {
  cursor: pointer;
}
/*
.innerText{
  font-family: 'IM Fell DW Pica SC', serif;
  color: white;
  font-size: 15vh;
}

#text1-inner{
  padding-bottom: 50vh;
}

#text2-inner{
  text-align: right;
}

#text3-inner{
  padding-bottom: 1.5em;
  padding-right: 2em;
  text-align: left;
}

#text4-inner{
  padding-bottom: 2.5em;
  padding-left: 2em;
  text-align: right;
}
*/
#section1 {
  background-color: #282828;
  font-family: "Red Hat Mono", monospace;
  color: darkgoldenrod;
  padding-bottom: 1vh;
  padding-top: 2%;
  font-size: 5vh;
  text-align: center;
}

.descriptionText {
  font-family: "Red Hat Mono", monospace;
  color: white;
  padding-bottom: 3.5pc;
  font-size: 3vh;
}

#leftText {
  text-align: left;
  padding-left: 4vh;
}

#rightText {
  text-align: right;
  padding-right: 4vh;
}

#section2 {
  font-family: "Red Hat Mono", monospace;
  color: darkgoldenrod;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 1%;
  font-size: 5vh;
}

#profileRow {
  padding-top: 4%;
  padding-bottom: 4%;
  background-color: #3a3a3a;
  width: 100.8%;
}
.profilePic {
  height: 25vh;
  width: auto;
}
.profileText {
  padding-top: 3vh;
  font-family: "Red Hat Mono", monospace;
  color: white;
  font-size: 2vh;
}

#bottomText {
  padding: 2vh;
  font-family: "Red Hat Mono", monospace;
  text-align: center;
  background-color: #282828;
  color: white;
  font-size: 1.4vh;
}
