@import url("../../../css/navbar.css");
@import url('../../../css/root.css');
@import url(../../../css/dropdown.css);
@import url(../../../css/preload.css);
@import url("../../../css/theme.css");
@import url('../../../css/saySomethingSmart.css');
@import url('https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    color: var(--dark-text-color);
}

body, html {
    background-color: black;
}

.stateLink{
    color: var(--dark-text-color);
    text-decoration-line: none;
}

.stateLink:hover{
    color: #545454;
}

#navbar{
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 99;
}

.navbar-brand{
    text-decoration-line: none;
}

.mapBox{
    height: 100vh;
    width: 100%;
}

#timeSpan{
    display: none;
}

.timeSpace{
    position: fixed;
    z-index: 8;
    top: 4.5em;
}

.timeSpace h1{
    font-size: 1.6rem;
    color: var(--dark-text-color);
    user-select: none;
    background-color: var(--background-color-2);
    padding: 0.5em;
    border-radius: 0 0 8px 0;
    font-family: 'Epilogue', sans-serif;
}

area{
    cursor: pointer;
}

#leftSwitchBox{
    transition: 1s;
    position: absolute;
    top: 10em;
    z-index: 15;
    padding: 1em;
}

#SwitchBoxHidden{
    display: none;
}

#rightSwitchBox{
    transition: 1s;
    position: absolute;
    top: 10em;
    right: 0;
    z-index: 15;
    padding: 1em;
}

#bigTitleBox{
    transition: 1s;
    position: absolute;
    top: 8em;
    text-align: center;
    width: 100%;
    z-index: 12;
}

#bigTitleBoxHidden{
    transition: 1s;
    position: absolute;
    top: -10em;
    text-align: center;
    width: 100%;
    z-index: 12;
}

#bigTitle{
    font-family: 'UnifrakturMaguntia', cursive;
    color: var(--dark-text-color);
    font-size: 9rem;
}

#mydiv {
    position: absolute;
    z-index: 7;
    background-color: var(--secondary-color);
    border: 1px solid #d3d3d3;
    text-align: center;
    user-select: none;
    top: -70vh;
    left: -70vh;
}

#AssassinationEvent{
    z-index: 99;
}

#descriptionBox{
    height: 550px;
    width: 700px;
    position: absolute;
    z-index: 8;
    background-color: var(--background-color-1);
    border-radius: 8px;
    display: none;
}

.description{
    display: grid;
    grid-template-columns: auto auto;
    padding: 0 1em;
    height: 95%;
}

#descriptionHeader{
    color: var(--dark-text-color);
}

.description div {
    margin: 0.5em 0;
    padding: 0.5em 0;
    border-radius: 8px;
}

.descriptionNav{
    grid-column: 1 /span 2;
    grid-row: 1;
    width: 100%;
    border-bottom: 1px solid black;
    cursor: pointer;
}

.descriptionNav h1 {
    float: left;
    color: var(--light-text-color);
    font-family: 'UnifrakturMaguntia', cursive;
}

.removeIcon{
    user-select: none;
    float: right;
    height: 20px;
    width: auto;
    cursor: pointer;
}

.descriptionImgBox{
    grid-row: 2;
    grid-column: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
}

#descriptionImg{
    height: 95%;
    width: auto;
    border-radius: 8px;
    user-select: none;
}

.descriptionTableBox{
    grid-row: 2;
    grid-column: 2;
    background-color: var(--background-color-2);
}

#descriptionTable{
    width: 95%;
    margin: 0.5em;
    color: var(--dark-text-color);
    font-size: 1.2rem;
    font-family: 'Epilogue', sans-serif;
}

#descriptionTable th {
    float: left;
}

#descriptionTable td {
    float: right;
    font-weight: lighter;
}

.descriptionTextBox{
    grid-column: 1 /span 2;
    grid-row: 3;
    overflow-y: scroll;
    background-color: var(--background-color-2);
}

.descriptionTextBox > p {
    padding: 0.5em 1em;
    color: var(--dark-text-color);
    font-size: 1.2rem;
    font-family: 'Epilogue', sans-serif;
}

#upIconBox{
    user-select: none;
    transition: 1s;
    z-index: 12;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1em;
}

#downIconBox{
    user-select: none;
    transition: 1s;
    z-index: 12;
    position: absolute;
    bottom: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1em;
}

.iconSettings{
    cursor: pointer;
    height: 3em;
    width: auto;
}

#curtain{
    height: 100vh;
    width: 100%;
    bottom: 0;
    position: absolute;
    z-index: 11;
    background-color: var(--background-image-curtain);
    /*background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255,255,255,0.8), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1)) ;*/
}

#hiddenCurtain{
    z-index: 0;
    height: 100vh;
    width: 100%;
    bottom: 0;
    position: absolute;
    /*background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255,255,255,0.8), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1)) ;*/
}

#hiddenContent{
    transition: 1s;
    height: 0;
    width: 100%;
    bottom: 0;
    position: absolute;
    z-index: 13;
    background-color: var(--background-color-2);
}

#content{
    transition: 1s;
    height: 65vh;
    width: 100%;
    bottom: 0;
    position: absolute;
    z-index: 13;
    background-color: var(--background-color-1);
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 1em;
    grid-gap: 1em;
}

.stepContent{
    grid-column: 1/span 4;
    grid-row: 1/span 2;
    display: grid;
    padding: 1em;
    grid-gap: 1em;
    height: 50vh;
    overflow-y: scroll;
    color: var(--dark-text-color);
}

.stepContent div {
    height: fit-content;
}

.leftSection{
    grid-column: 1;
}

.rightSectionYellow{
    grid-column: 2;
    background-color: #f6bf49;
    padding: 1em;
    border-radius: 0.6em;
}

.rightSection{
    grid-column: 2;
    padding: 1em;
}

.smallNewspaper{
    height: 1.5em;
    padding: 0 1em;
    width: auto;
    float: right;
    cursor: pointer;
}

.centerSection{
    grid-column: 1/span 4;
    display: grid;
    grid-gap: 1em;
}

.middleItemBox{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.middleItem{
    border-radius: 8px;
    padding: 1em;
    width: 60vw;
    background-color: var(--background-color-2);
}

.leftItem{
    background-color: var(--background-color-2);
    border-radius: 8px;
    padding: 1em;
    grid-column: 1;
}

.rightItem{
    background-color: var(--background-color-2);
    border-radius: 8px;
    padding: 1em;
    grid-column: 2;
}

.centerContent{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 1em;
    padding: 1em;
}

.headerText{
    grid-row: 1;
    grid-column: 1 /span 3;
}
.treatyBox1{
    display: grid;
    grid-gap: 1em;
    grid-row: 2;
    grid-column: 1;
}

.treatyBox2{
    display: grid;
    grid-gap: 1em;
    grid-row: 2;
    grid-column: 2;
}
.treatyBox3{
    display: grid;
    grid-gap: 1em;
    grid-row: 2;
    grid-column: 3;
}

.treatyBox1 > div {
    display: flex;
    justify-content: center;
}

.treatyBox2 > div {
    display: flex;
    justify-content: center;
}

.treatyBox3 > div {
    display: flex;
    justify-content: center;
}

.treatyHeaderBox{
    grid-row: 1;
}

.treatyHeader{
    font-family: 'UnifrakturMaguntia', cursive;
}

.treatyImgBox{
    grid-row: 2;
}

.treatyTextBox{
    grid-row: 3;
}

.treatyImg{
    height: 6em;
    width: auto;
}

.normalListItem{
    font-size: 1.3rem;
    margin: 0.2em 0;
}

#fullImgBox{
    position: absolute;
    display: none;
    justify-content: center;
    top: 0;
    padding: 10vh;
    overflow-y: scroll;
    height: 100vh;
    width: 100%;
    background-color: rgba(82, 79, 79, 0.7);
    z-index: 30;
}

#fullImg{
    height: 100vh;
}

#fullImgCancel{
    height: 2em;
    position: absolute;
    right: 0;
    margin-right: 2em;
}

.imgBox{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.normalText{
    margin: 0;
    padding: 1em;
    font-size: 1.3rem;
}

.allianceTableBox{
    display: flex;
    justify-content: center;
}

.allianceTable{
    width: 80%;
}

.allianceTable th:nth-child(odd){
    background-color: rgba(255,99,75, 0.8);
    border-radius: 1em 0 0 0;
}

.allianceTable td:nth-child(odd){
    background-color: rgba(255,99,75, 0.5);
}

.allianceTable th:nth-child(even){
    background-color: rgba(35,99,175, 0.8);
    border-radius: 0 1em 0 0;
}

.allianceTable td:nth-child(even){
    background-color: rgba(35,99,175, 0.5);
}

.allianceTable td, th {
    font-size: 1em;
    padding: 0.2em 0.5em;
}

.stepImg{
    height: 50vh;
    width: auto;
}

.TimeLineBox{
    grid-column: 1 /span 4;
    grid-row: 3;
    display: flex;
    padding: 1em;
    align-items: center;
    justify-content: center;
    /*grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto;*/
}

.timeLine{
    display: grid;
    grid-gap: 1.5em;
}

.timeLine:first-child{
    display: flex;
    align-items: center;
    justify-content: center;
}

.dot {
    height: 20px;
    width: 20px;
    background-color: #818181;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;

}

.dot:hover{
    background-color: #bbb;
}

#DateOverStep{
    position: absolute;
    bottom: 4em;
    font-family: 'Epilogue', sans-serif;
    transform: translateX(-2.5em);
    color: var(--dark-text-color);
}

#overall{
    grid-column: 1;
    grid-row: 1;
}

#BeforeTheWar{
    grid-row: 1;
    grid-column: 2;
}

#Assassination{
    grid-row: 1;
    grid-column: 3;
}

#JulyCrisis{
    grid-row: 1;
    grid-column: 4;
}

#BelgiumInvasion{
    grid-row: 1;
    grid-column: 5;
}

#EasternFront{
    grid-row: 1;
    grid-column: 6;
}

#BattleOfMarne{
    grid-row: 1;
    grid-column: 7;
}

#Trenches{
    grid-row: 1;
    grid-column: 8;
}

#OttomanEntry{
    grid-row: 1;
    grid-column: 9;
}

#GallipoliCampaign{
    grid-row: 1;
    grid-column: 10;
}

#NewParticipants{
    grid-row: 1;
    grid-column: 11;
}

#WarFatigue{
    grid-row: 1;
    grid-column: 12;
}

#FebruaryRevolution{
    grid-row: 1;
    grid-column: 13;
}

#RussianTreaty{
    grid-row: 1;
    grid-column: 14;
}

#FallingEmpires{
    grid-row: 1;
    grid-column: 15;
}

@media only screen and (max-width: 1200px){
    .stepContent{
        height: 40vh;
    }

    #overall{
        grid-column: 1 /span 2;
    }

    #BeforeTheWar{
        grid-column: 3 /span 2;
    }

    #Assassination{
        grid-column: 5 /span 2;
    }

    #JulyCrisis{
        grid-column: 7 /span 2;
    }

    #BelgiumInvasion{
        grid-column: 9 /span 2;
    }

    #EasternFront{
        grid-column: 11/span 2;
    }

    #BattleOfMarne{
        grid-column: 13/span 2;
    }

    #Trenches{
        grid-row: 2;
        grid-column: 1 /span 2;
    }

    #OttomanEntry{
        grid-row: 2;
        grid-column: 3 /span 2;
    }

    #GallipoliCampaign{
        grid-row: 2;
        grid-column: 5 /span 2;
    }

    #NewParticipants{
        grid-row: 2;
        grid-column: 7 /span 2;
    }

    #WarFatigue{
        grid-row: 2;
        grid-column: 9 /span 2;
    }

    #FebruaryRevolution{
        grid-row: 2;
        grid-column: 11 /span 2;
    }

    #RussianTreaty{
        grid-row: 3;
        grid-column: 1 /span 2;
    }

    #FallingEmpires{
        grid-row: 3;
        grid-column: 3 /span 2;
    }
}

@media only screen and (max-width: 600px){
    .step{
        height: 1.4em;
        width: 1.4em;
    }



    .steps{
        padding: 0.5em;
        grid-gap: 0.5em;
    }

    #bigTitle{
        font-size: 5rem;
    }

    .normalText{
        font-size: 1rem;
    }

    #overall{
        grid-column: 1 /span 2;
    }

    #BeforeTheWar{
        grid-column: 3 /span 2;
    }

    #Assassination{
        grid-column: 5 /span 2;
    }

    #JulyCrisis{
        grid-column: 7 /span 2;
    }

    #BelgiumInvasion{
        grid-row: 2;
        grid-column: 1 /span 2;
    }

    #EasternFront{
        grid-row: 2;
        grid-column: 3/span 2;
    }

    #BattleOfMarne{
        grid-row: 2;
        grid-column: 5/span 2;
    }

    #Trenches{
        grid-row: 2;
        grid-column: 7 /span 2;
    }

    #OttomanEntry{
        grid-row: 3;
        grid-column: 1 /span 2;
    }

    #GallipoliCampaign{
        grid-row: 3;
        grid-column: 3 /span 2;
    }

    #NewParticipants{
        grid-row: 3;
        grid-column: 5 /span 2;
    }

    #WarFatigue{
        grid-row: 3;
        grid-column: 7 /span 2;
    }

    #FebruaryRevolution{
        grid-row: 4;
        grid-column: 1 /span 2;
    }

    #RussianTreaty{
        grid-row: 4;
        grid-column: 3 /span 2;
    }

    #FallingEmpires{
        grid-row: 4;
        grid-column: 5 /span 2;
    }
}