@import url("../../../css/navbar.css");
@import url('../../../css/root.css');
@import url('../../../css/saySomethingSmart.css');
@import url('https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

body, html {
    background-color: black;
}

#navbar{
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 99;
}

.navbar-brand{
    text-decoration-line: none;
}

.mapBox{
    height: 100vh;
    width: 100%;
}

#timeSpan{
    display: none;
}

.timeSpace{
    position: fixed;
    z-index: 8;
    top: 4.5em;
}

.timeSpace h1{
    font-size: 1.6rem;
    color: black;
    user-select: none;
    background-color: var(--background-color-2);
    padding: 0.5em;
    border-radius: 0 0 8px 0;
    font-family: 'Epilogue', sans-serif;
}

area{
    cursor: pointer;
}

#leftSwitchBox{
    transition: 1s;
    position: absolute;
    top: 10em;
    z-index: 15;
    padding: 1em;
}

#SwitchBoxHidden{
    display: none;
}

#rightSwitchBox{
    transition: 1s;
    position: absolute;
    top: 10em;
    right: 0;
    z-index: 15;
    padding: 1em;
}

#bigTitleBox{
    transition: 1s;
    position: absolute;
    top: 8em;
    text-align: center;
    width: 100%;
    z-index: 12;
}

#bigTitleBoxHidden{
    transition: 1s;
    position: absolute;
    top: -10em;
    text-align: center;
    width: 100%;
    z-index: 12;
}

#bigTitle{
    font-family: 'UnifrakturMaguntia', cursive;
    color: black;
    font-size: 9rem;
}

#mydiv {
    position: absolute;
    z-index: 7;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    text-align: center;
    user-select: none;
    top: -70vh;
    left: -70vh;
}

#descriptionBox{
    height: 550px;
    width: 700px;
    position: absolute;
    z-index: 8;
    background-color: var(--background-color-1);
    border-radius: 8px;
    display: none;
}

.description{
    display: grid;
    grid-template-columns: auto auto;
    padding: 0 1em;
    height: 95%;
}

.description div {
    margin: 0.5em 0;
    padding: 0.5em 0;
    border-radius: 8px;
}

.descriptionNav{
    grid-column: 1 /span 2;
    grid-row: 1;
    width: 100%;
    border-bottom: 1px solid black;
    cursor: pointer;
}

.descriptionNav h1 {
    float: left;
    color: black;
    font-family: 'UnifrakturMaguntia', cursive;
}

.removeIcon{
    user-select: none;
    float: right;
    height: 20px;
    width: auto;
    cursor: pointer;
}

.descriptionImgBox{
    grid-row: 2;
    grid-column: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
}

#descriptionImg{
    height: 95%;
    width: auto;
    border-radius: 8px;
    user-select: none;
}

.descriptionTableBox{
    grid-row: 2;
    grid-column: 2;
    background-color: var(--background-color-2);
}

#descriptionTable{
    width: 95%;
    margin: 0.5em;
    color: black;
    font-size: 1.2rem;
    font-family: 'Epilogue', sans-serif;
}

#descriptionTable th {
    float: left;
}

#descriptionTable td {
    float: right;
    font-weight: lighter;
}

.descriptionTextBox{
    grid-column: 1 /span 2;
    grid-row: 3;
    overflow-y: scroll;
    background-color: var(--background-color-2);
}

.descriptionTextBox > p {
    padding: 0.5em 1em;
    color: black;
    font-size: 1.2rem;
    font-family: 'Epilogue', sans-serif;
}

#upIconBox{
    user-select: none;
    transition: 1s;
    z-index: 12;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1em;
}

#downIconBox{
    user-select: none;
    transition: 1s;
    z-index: 12;
    position: absolute;
    bottom: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1em;
}

.iconSettings{
    cursor: pointer;
    height: 3em;
    width: auto;
}

#curtain{
    height: 100vh;
    width: 100%;
    bottom: 0;
    position: absolute;
    z-index: 11;
    background-color: var(--background-image-curtain);
    /*background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255,255,255,0.8), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1)) ;*/
}

#hiddenCurtain{
    z-index: 0;
    height: 100vh;
    width: 100%;
    bottom: 0;
    position: absolute;
    /*background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255,255,255,0.8), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1)) ;*/
}

#hiddenContent{
    transition: 1s;
    height: 0;
    width: 100%;
    bottom: 0;
    position: absolute;
    z-index: 13;
    background-color: var(--background-color-2);
}

#content{
    transition: 1s;
    height: 65vh;
    width: 100%;
    bottom: 0;
    position: absolute;
    z-index: 13;
    background-color: var(--background-color-2);
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 1em;
    grid-gap: 1em;
}

.stepContent{
    grid-column: 1/span 4;
    grid-row: 1/span 2;
    display: grid;
    padding: 1em;
    grid-gap: 1em;
}

.stepContent div {
    height: 100%;
    max-height: 30em;
}

.leftSection{
    grid-column: 1;
    overflow-y: scroll;
}

.rightSection{
    grid-column: 2;
    background-color: #f6bf49;
    padding: 1em;
    border-radius: 0.6em;
    overflow-y: scroll;
}

.normalText{
    margin: 0;
    padding: 1em 0;
    font-size: 1.3rem;
}

.allianceTableBox{
    display: flex;
    justify-content: center;
}

.allianceTable{
    width: 80%;
}

.allianceTable th:nth-child(odd){
    background-color: rgba(255,99,75, 0.8);
    border-radius: 1em 0 0 0;
}

.allianceTable td:nth-child(odd){
    background-color: rgba(255,99,75, 0.5);
}

.allianceTable th:nth-child(even){
    background-color: rgba(35,99,175, 0.8);
    border-radius: 0 1em 0 0;
}

.allianceTable td:nth-child(even){
    background-color: rgba(35,99,175, 0.5);
}

.allianceTable td, th {
    font-size: 1em;
    padding: 0.2em 0.5em;
}

.steps{
    grid-column: 1 /span 4;
    grid-row: 3;
    display: grid;
    padding: 1em;
    grid-gap: 1em;
    /*grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto;*/
}

.steps div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.step{
    height: 2em;
    width: 2em;
    border-radius: 100%;
    background-color: #a8a8a8;
    cursor: pointer;
}

.step:hover{
    background-color: #818181;
}

#overall{
    grid-column: 1;
    grid-row: 1;
}

#BeforeTheWar{
    grid-row: 1;
    grid-column: 2;
}

#Assassination{
    grid-row: 1;
    grid-column: 3;
}

#JulyCrisis{
    grid-row: 1;
    grid-column: 4;
}

#BelgiumInvasion{
    grid-row: 1;
    grid-column: 5;
}

#EasternFront{
    grid-row: 1;
    grid-column: 6;
}

#BattleOfMarne{
    grid-row: 1;
    grid-column: 7;
}

#Trenches{
    grid-row: 1;
    grid-column: 8;
}

#SouthFronts{
    grid-row: 1;
    grid-column: 9;
}

#RussianRevolution{
    grid-row: 1;
    grid-column: 10;
}

#UsEntry{
    grid-row: 1;
    grid-column: 11;
}

#LastMonths{
    grid-row: 1;
    grid-column: 12;
}

#Treaties{
    grid-row: 1;
    grid-column: 13;
}

@media only screen and (max-width: 1200px){
    #overall{
        grid-column: 1 /span 2;
    }

    #BeforeTheWar{
        grid-column: 3 /span 2;
    }

    #Assassination{
        grid-column: 5 /span 2;
    }

    #JulyCrisis{
        grid-column: 7 /span 2;
    }

    #BelgiumInvasion{
        grid-column: 9 /span 2;
    }

    #EasternFront{
        grid-column: 11/span 2;
    }

    #BattleOfMarne{
        grid-column: 13/span 2;
    }

    #Trenches{
        grid-row: 2;
        grid-column: 1 /span 2;
    }

    #SouthFronts{
        grid-row: 2;
        grid-column: 3 /span 2;
    }

    #RussianRevolution{
        grid-row: 2;
        grid-column: 5 /span 2;
    }

    #UsEntry{
        grid-row: 2;
        grid-column: 7 /span 2;
    }

    #LastMonths{
        grid-row: 2;
        grid-column: 9 /span 2;
    }

    #Treaties{
        grid-row: 2;
        grid-column: 11 /span 2;
    }
}

@media only screen and (max-width: 600px){
    .step{
        height: 1.8em;
        width: 1.8em;
    }

    .stepContent div {
        overflow-y: scroll;
    }

    #overall{
        grid-column: 1 /span 2;
    }

    #BeforeTheWar{
        grid-column: 3 /span 2;
    }

    #Assassination{
        grid-column: 5 /span 2;
    }

    #JulyCrisis{
        grid-column: 7 /span 2;
    }

    #BelgiumInvasion{
        grid-row: 2;
        grid-column: 1 /span 2;
    }

    #EasternFront{
        grid-row: 2;
        grid-column: 3/span 2;
    }

    #BattleOfMarne{
        grid-row: 2;
        grid-column: 5/span 2;
    }

    #Trenches{
        grid-row: 2;
        grid-column: 7 /span 2;
    }

    #SouthFronts{
        grid-row: 3;
        grid-column: 1 /span 2;
    }

    #RussianRevolution{
        grid-row: 3;
        grid-column: 3 /span 2;
    }

    #UsEntry{
        grid-row: 3;
        grid-column: 5 /span 2;
    }

    #LastMonths{
        grid-row: 3;
        grid-column: 7 /span 2;
    }

    #Treaties{
        grid-row: 4;
        grid-column: 1 /span 2;
    }
}