.mainTitle-Item {
  background-image: url("../Images/21stCentury/BackgroundImg/background-1-opacity.jpg");
  background-repeat: repeat;
}

.mainContent-Item {
  background-image: url("../Images/21stCentury/BackgroundImg/background-2-opacity.jpg");
  background-repeat: repeat;
}
