@import url("../css/navbar.css");
@import url("../css/root.css");
@import url("../css/preload.css");
@import url("saySomethingSmart.css");
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap');

* {
    margin: 0;
    padding: 0;
}

.content{
    height: 100vh;
    width: 100%;
}

