@import url("../css/navbar.css");
@import url("../css/root.css");
@import url("../css/preload.css");
@import url("saySomethingSmart.css");

.content{

    padding: 1em;
}

body{
    background-color: var(--primary-color);
    overflow-x: hidden;
}

.sectionHeader{
    font-family: "Times New Roman", "sans-serif";
    text-align: center;
    color: white;
}

.countryBox {
    display: flex;
    flex-direction: column;
    text-align: center;

    justify-content: center;
    align-items: center;
    background-color: var(--background-color-1);

    padding: 1em;
    max-width: 30em;

    margin-bottom: 1em;
}

.countryBox:hover{
    background-color: white;
    transition: background-color 0.5s;
}
.countryBox img{
    width: 50%;
}

.countryBox span {
    font-family: "Times New Roman", "sans-serif";
    font-size: 2rem;
}

/*Layout of main page */
.grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 5em 4em 0 4em;
    background-color: var(--primary-color);

    width: 100vw;
    height: 100vh;
    max-height: 45em;
}

.item1 {
    background-image: url("../Resources/backgroundImg/Flag_of_Europe.svg.png");
    background-size:100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1em;
    grid-column-start: 1;
    grid-column-end: 2;
}

.item2 {
    grid-column-start: 2;
    grid-column-end: 4;

    overflow-y: auto;
    overflow-x: hidden;
}

.item4{
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
    margin-top: 3em;
    border-top: 1px solid var(--secondary-color);
    padding-top: 1em;
    padding-right: 2em;
    padding-left: 2em;
}

.box1{
    margin-bottom: 1em;
}