@import url("../css/navbar.css");
@import url("../css/root.css");
@import url("../css/preload.css");
@import url("saySomethingSmart.css");
@import url("../css/dropdown.css");
@import url("../css/theme.css");
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap');

.content{
    padding: 1em;
    min-height: 100vh;
}

.hidden{
    display: none;
}

.show{
    display: flex;
}

body{
    background-color: var(--primary-color);
    overflow-x: hidden;
}

.sectionHeader{
    font-family: var(--primary-font);
    text-align: center;
    justify-content: center;
    align-items: center;
    color: black;
    user-select: none;
    width: 10%;
}

.countryBox {
    flex-direction: column;
    text-align: center;

    justify-content: center;
    align-items: center;
    background-color: var(--background-color-1);

    padding: 1em;
    max-width: 30em;

    margin-bottom: 1em;
    cursor: pointer;
}

.countryBox:hover{
    background-color: var(--light-dark-background-color);
    transition: background-color 0.5s;
}

.countryBox:hover span{
    color: var(--light-text-color);
}

.countryBox img{
    width: 50%;
}

.countryBox span {
    color: var(--dark-text-color);
    font-family: var(--primary-font);
    font-size: 2rem;
}

/*Layout of main page */
.grid-container {
    display: grid;
    grid-template-rows: 30% 70%;
    grid-row-gap: 1em;
    padding: 5em 4em 0 4em;
    background-color: var(--primary-color);

    width: 100%;
    height: 100vh;
    max-height: 50em;
}

#bottomText{
    font-size: 0.9rem;
}

.item1 {
    background-image: linear-gradient(var(--background-image-curtain), var(--background-image-curtain)), url("../Resources/neededImg/EuropeImg.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1em;
    grid-row-start: 1;
    grid-row-end: 2;
}

.left{
    padding-right: 30%;
}

.right{
    padding-left: 30%;
}

.pointer{
    cursor: pointer;
    height: 2em;
    width: auto;
    user-select: none;
}

.item2 {
    grid-row-start: 2;
    grid-row-end: 4;

    overflow-y: auto;
    overflow-x: hidden;
}

.item4{
    text-align: center;
    margin-top: 3em;
    border-top: 1px solid var(--secondary-color);
    padding-top: 1em;
    padding-right: 2em;
    padding-left: 2em;
    bottom: 0;
    color: var(--dark-text-color);
}

.box1{
    margin-bottom: 1em;
}


@media only screen and (max-width: 600px){

    .content{
        padding: 0.5em;
    }

    .countryBox span{
        font-size: 0.8rem;
    }

    .sectionHeader{
        font-size: 0.9rem;
    }

    .grid-container{
        margin-top: 15vh;
        padding: 2em 1.5em 0 1.5em;
    }

    .countryBox{
        padding: 0.5em;
        max-width: 15em;

        margin-bottom: 0.5em;
    }

    .left{
        padding-right: 15%;
    }

    .right{
        padding-left: 15%;
    }

    .pointer{
        height: 1.5em;
        width: auto;
    }
}
