.dropdown{
    margin-top: 0.2em;
    display:inline-block;
    position:relative;
}

.dropdown button {
    font-family: 'IM Fell English SC', serif;
    border: 1px solid var(--secondary-color);
    padding: 8px 35px;
    background-color: transparent;
    color: var(--dark-text-color);
    transition: .3s;
    cursor: pointer;
}

.dropdown:hover button{
    background-color:var(--background-color-1);
}

.dropdown div{
    background-color: var(--background-color-1);
    box-shadow:0 4px 8px rgba(0,0,0,0.2);
    z-index:1;
    visibility:hidden;
    position:absolute;
    min-width: 100%;
    opacity:0;
    transition:.3s;
}

.dropdown:hover div{
    visibility:visible;
    opacity:1;
}

.dropdown div span{
    font-family: 'IM Fell English SC', serif;
    display: block;
    text-decoration:none;
    padding:8px;
    color: var(--dark-text-color);
    transition:.1s;
    white-space:nowrap;
}

.dropdown div span:hover{
    background-color: var(--background-color-2);
    color: var(--dark-text-color);
}
