@import url("../css/navbar.css");
@import url("../css/root.css");
@import url("../css/preload.css");
@import url("saySomethingSmart.css");
@import url('https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
}

html{
    background-color: var(--background-color-1);
}

#navbar{
    position: fixed;
    top: 0;
}

.content{
    margin-top: 5em;
    min-height: 100vh;
    width: 100%;
    background-color: var(--background-color-1);
    display: block;
}

.introSection{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2f353a;
    height: 80vh;
    background-image: linear-gradient(var(--background-image-curtain), var(--background-image-curtain)) ,url("../Resources/backgroundImg/ww1BackgroundImg.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.introHeader h1{
    color: black;
    font-size: 7rem;
}

#introHeader-content{
    font-family: 'UnifrakturMaguntia', cursive;
    border-bottom: 5px solid black;
    padding: 0 1em;
}

#timeSpan{
    text-align: center;
    font-family: 'Epilogue', sans-serif;
}

.content-table{
    margin: 3em 2em;
    padding: 1em 1em;
    width: 40%;
    border: 1px solid black;
    border-radius: 1em;
    font-family: 'Epilogue', sans-serif;
    background-color: var(--background-color-2);
}

#content-table-Header{
    font-family: 'UnifrakturMaguntia', cursive;
    font-size: 2rem;
}

.content-table ol li{
    margin: 0.5em 0;
}

.content-table ol li:last-child{
    margin-bottom: 0;
}

.content-table-link {
    text-decoration: none;
    color: black;
    cursor: pointer;
    font-size: 1.2rem;
}

.content-table-link:hover {
    color: #5d5d5d;
}

.section{
    margin: 2em 2em;
    padding: 1em 1em;
    font-family: 'Epilogue', sans-serif;
}

.sectionHeaderBox{
    margin-bottom: 1em;
}

.sectionHeader{
    font-family: 'UnifrakturMaguntia', cursive;
    width: 100%;
    border-bottom: solid black;
    font-size: 3rem;
}

h4 {
    font-size: 2rem;
}

.normalText{
    font-family: 'Epilogue', sans-serif;
    font-size: 1.5rem;
}

.allianceTableBox{
    display: flex;
    justify-content: center;
    align-items: center;
}

.allianceTable{
    width: 80%;
    margin: 2em 0;
}

th:nth-child(odd){
    background-color: rgba(255,99,75, 0.8);
    border-radius: 1em 0 0 0;
}

td:nth-child(odd){
    background-color: rgba(255,99,75, 0.5);
}

th:nth-child(even){
    background-color: rgba(35,99,175, 0.8);
    border-radius: 0 1em 0 0;
}

td:nth-child(even){
    background-color: rgba(35,99,175, 0.5);
}

td, th {
    font-size: 1.2em;
    padding: 0.2em 0.5em;
}

.backstoryBlock{
    background-color: #f6bf49;
    padding: 1em;
    border-radius: 0.6em;
}

.grid-container{
    display: grid;
    padding: 1em 1em;
    width: 100%;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto auto auto;
    grid-gap: 1em;
}
/*
.customGrid-container div{
    background-color: #5d5d5d;
}
*/
.grid-Header{
    grid-row: 1;
    grid-column: 1 /span 2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em 0;
}

#grid-Header-text{
    width: 50%;
    user-select: none;
    text-align: center;
}

.arrow{
    height: 2em;
    cursor: pointer;
    user-select: none;
}

.gridFlagBox{
    grid-row: 2/span 2;
    grid-column: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em 0;
}

#gridFlag{
    height: 25em;
    user-select: none;
}

.gridBigImgBox{
    grid-row: 2/span 2;
    grid-column: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#gridBigImg{
    height: 30em;
    user-select: none;
}

.gridTextBox{
    grid-row: 4 /span 2;
    grid-column: 1/span 2;
    height: 20vh;
    padding: 0 2em;
    overflow: scroll;
    overflow-x: hidden;
}

.StorySection{
    display: grid;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-columns: 30% auto 30%;
    width: 100%;
    padding: 1em;
    grid-gap: 1em;
}

.part1{
    grid-row: 1;
    grid-column: 1 /span 2;
}

.img1{
    grid-row: 1 /span 2;
    grid-column: 3;
    text-align: center;
}

#pic1{
    width: 80%;
    border-radius: 0.5em;
}

.part2{
    grid-column: 1 /span 2;
    grid-row: 2;
}

.main-grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto auto auto auto;
    padding: 1em;
    grid-gap: 1em;
    width: 100%;
}

.smallCircleBox{
    grid-column: 1;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle{
    background-color: #f6bf49;
    height: 30em;
    width: 30em;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circleText, .circleTextHeader{
    text-align: center;
}

.circleTextHeader{
    font-size: 2rem;
}

.circleText{
    font-size: 1.3rem;
    padding: 0 1.2em;
}

.text1{
    grid-column: 2 /span 3;
    grid-row: 1;
}

.killCountWW1{
    grid-row: 2;
    grid-column: 4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.innerBox{
    text-align: center;
    background-color: #ababab;
    padding: 1em;
    border-radius: 0.5em;
}

#graveYardIcon{
    height: 9em;
    width: auto;
    margin-bottom: 1em;
}

#warCrimeList li{
    margin: 0.3em 0;
}

#warCrimeList li:last-child{
    margin-bottom: 0;
}

.img2{
    grid-column: 1/span 2;
    grid-row: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pic2{
    height: 20em;
    width: auto;
    border-radius: 0.5em;
}

.text2{
    grid-column: 3;
    grid-row: 2;
}

.text3{
    grid-row: 3;
    grid-column: 1/span 3;
}

.img3{
    grid-row: 3;
    grid-column: 4;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pic3{
    height: 25em;
    width: auto;
}

.text4{
    grid-row: 3;
    grid-column: 3/span 2;
}

.russoImg{
    grid-row: 4;
    grid-column: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.russianRev{
    grid-row: 4;
    grid-column: 2 /span 4;
}

#pic4{
    height: 25em;
    width: auto;
}

#hammerIcon{
    height: 1em;
    padding-right: 0.2em;
}

.usaIntroText{
    padding-top: 1em;
    grid-column: 1/span 3;
    grid-row: 5;
}

.blueCircle{
    grid-column: 4;
    grid-row: 5;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*
.main-grid-container div{
    background-color: #5d5d5d;
}
*/

.last-grid-container{
    display: grid;
    padding: 1em;
    width: 100%;
    grid-gap: 1em;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: auto auto auto;
}
/*
.last-grid-container div {
    background-color: #5d5d5d;
}
*/
.text4{
    grid-row: 1;
    grid-column: 1/span 3;
}

.treaty1{
    grid-row: 2;
    grid-column: 1;
}

.treaty2{
    grid-row: 2;
    grid-column: 2;
}

.treaty3{
    grid-row: 2;
    grid-column: 3;
}

.treatyIconBox{
    text-align: center;
}

.treatyIcon{
    height: 6em;
    width: auto;
    margin: 1em;
}

.treatyHeader, .treatyText{
    text-align: center;
}

.treatyText{
    padding: 0 6em;
}

.treatyText h4{
    margin: 2em 0;
}

.bottomTextBox{
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid black;
    padding: 1em;
}

#bottomText{
    text-align: center;
    font-family: 'Epilogue', sans-serif;
}

@media only screen and (max-width:1400px){
    .introHeader h1{
        font-size: 5rem;
    }

    .introSection{
        height: 70vh;
    }

    .allianceTable{
        width: 100%;
    }

    #gridFlag{
        height: 13em;
    }

    #gridBigImg{
        height: 25em;
    }

    .gridTextBox{
        height: 5em;
    }

    .part1{
        grid-column: 1 /span 3;
    }

    .img1{
        grid-column: 1 /span 3;
        grid-row: 2;
    }

    .part2{
        grid-row: 3;
        grid-column: 1 /span 3;
    }

    #pic1{
        height: 25em;
        width: auto;
    }

    #title3{
        margin-top: 0;
    }

    #title4{
        height: auto;
    }

    .smallCircleBox{
        grid-column: 1/span 4;
    }

    .text1{
        grid-column: 1/span 4;
        grid-row: 2;
    }

    .img2{
        display: none;
    }

    .text2{
        grid-column: 1/span 2;
        grid-row: 3;
    }

    .killCountWW1{
        grid-row: 3;
        grid-column: 3/span 2;
        margin-bottom: 1em;
    }

    .text3{
        grid-row: 4;
        grid-column: 1 /span 3;
    }

    .img3{
        grid-row: 4;
        grid-column: 4;
    }

    .russoImg{
        grid-row: 5;
        grid-column: 1;
        align-items: unset;
    }

    #pic4{
        height: 18em;
    }

    .russianRev{
        grid-row: 5;
        grid-column: 2 /span 3;
    }

    .usaIntroText{
        grid-row: 6;
        grid-column: 1 /span 4;
    }
}

@media only screen and (max-width: 900px){
    .section{
        margin: 0.5em 0.5em;
        padding: 0.5em 0.5em;
    }

    .introSection{
        height: 50vh;
    }

    .introHeader h1{
        font-size: 2.4rem;
    }

    h4{
        font-size: 1.5rem;
    }

    .sectionHeader{
        font-size: 2rem;
    }

    .normalText{
        font-size: 1.2rem;
    }

    .content-table{
        width: initial;
    }

    .grid-container{
        grid-gap: 0.5em;
    }

    .grid-Header{
        padding: 0;
    }

    .gridFlagBox{
        grid-row: 2/span 2;
        grid-column: 1/span 2;
    }

    .gridBigImgBox{
        display: none;
    }

    #gridFlag{
        height: 10em;
    }

    #gridBigImg{
        height: 15em;
    }

    .gridTextBox{
        padding: 1em 0;
        height: 20em;
    }

    #title3{
        margin-top: 0;
    }

    #pic1{
        height: 20em;
        width: auto;
    }

    .img2{
        display: none;
    }

    .text2{
        grid-column: 1/span 4;
        grid-row: 4;
    }

    .circle{
        height: 15em;
        width: 15em;
    }

    .circleTextHeader{
        font-size: 1.4rem;
    }

    .circleText{
        font-size: 0.6rem;
    }

    .killCountWW1{
        grid-row: 3;
        grid-column: 1/span 4;
        margin-bottom: 1em;
    }

    .text3{
        grid-row: 5;
        grid-column: 1 /span 4;
    }

    .img3{
        grid-row: 6;
        grid-column: 1 /span 4;
    }

    #pic3{
        height: 15em;
        width: auto;
    }

    .russianRev{
        grid-row: 7;
        grid-column: 1 /span 4;
    }

    .russoImg{
        grid-row: 8;
        grid-column: 1/span 4;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #pic4{
        height: 12em;
        width: auto;
    }

    .usaIntroText{
        grid-row: 9;
        grid-column: 1 /span 4;
    }

    .blueCircle{
        grid-row: 10;
        grid-column: 1 /span 4;
    }

    .text4{
        grid-row: 1;
        grid-column: 1/span 3;
    }

    .treaty1{
        grid-row: 2;
        grid-column: 1/span 3;
    }

    .treaty2{
        grid-row: 3;
        grid-column: 1/span 3;
    }

    .treaty3{
        grid-row: 4;
        grid-column: 1/span 3;
    }

    .treatyText{
        padding: 0;
    }

    #bottomText{
        font-size: 0.7rem;
    }
}