@import url("../css/navbar.css");
@import url("../css/root.css");
@import url("../css/preload.css");
@import url("saySomethingSmart.css");
@import url('https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
}

html{
    background-color: var(--background-color-1);
}

#navbar{
    position: fixed;
    top: 0;
}

.content{
    margin-top: 5em;
    min-height: 100vh;
    width: 100%;
    background-color: var(--background-color-1);
    display: block;
}

.introSection{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2f353a;
    height: 80vh;
    background-image: linear-gradient(var(--background-image-curtain), var(--background-image-curtain)) ,url("../Resources/backgroundImg/ww1BackgroundImg.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.introHeader h1{
    color: black;
    font-size: 7rem;
}

#introHeader-content{
    font-family: 'UnifrakturMaguntia', cursive;
    border-bottom: 5px solid black;
    padding: 0 1em;
}

#timeSpan{
    text-align: center;
    font-family: 'Epilogue', sans-serif;
}

.content-table{
    margin: 3em 2em;
    padding: 1em 1em;
    width: 40%;
    border: 1px solid black;
    border-radius: 1em;
    font-family: 'Epilogue', sans-serif;
    background-color: var(--background-color-2);
}

#content-table-Header{
    font-family: 'UnifrakturMaguntia', cursive;
    font-size: 2rem;
}

.content-table ol li{
    margin: 0.5em 0;
}

.content-table ol li:last-child{
    margin-bottom: 0;
}

.content-table-link {
    text-decoration: none;
    color: black;
    cursor: pointer;
    font-size: 1.2rem;
}

.content-table-link:hover {
    color: #5d5d5d;
}

.section{
    margin: 2em 2em;
    padding: 1em 1em;
    font-family: 'Epilogue', sans-serif;
}

.sectionHeaderBox{
    margin-bottom: 1em;
}

.sectionHeader{
    font-family: 'UnifrakturMaguntia', cursive;
    width: 100%;
    border-bottom: solid black;
}

.normalText{
    font-family: 'Epilogue', sans-serif;
    font-size: 1.2rem;
}

.allianceTableBox{
    display: flex;
    justify-content: center;
    align-items: center;
}

.allianceTable{
    width: 80%;
    margin: 2em 0;
}

th:nth-child(odd){
    background-color: rgba(255,99,75, 0.8);
    border-radius: 1em 0 0 0;
}

td:nth-child(odd){
    background-color: rgba(255,99,75, 0.5);
}

th:nth-child(even){
    background-color: rgba(35,99,175, 0.8);
    border-radius: 0 1em 0 0;
}

td:nth-child(even){
    background-color: rgba(35,99,175, 0.5);
}

td, th {
    font-size: 1.2em;
    padding: 0.2em 0.5em;
}

.backstoryBlock{
    background-color: #f6bf49;
    padding: 1em;
    border-radius: 0.6em;
}

.grid-container{
    display: grid;
    padding: 1em 1em;
    width: 100%;
    height: 45em;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto auto auto;
    grid-gap: 1em;
}
/*
.grid-container div{
    background-color: #5d5d5d;
}
*/
.grid-Header{
    grid-row: 1;
    grid-column: 1 /span 2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em 0;
}

#grid-Header-text{
    width: 50%;
    user-select: none;
    text-align: center;
}

.arrow{
    height: 2em;
    cursor: pointer;
    user-select: none;
}

.gridFlagBox{
    grid-row: 2/span 2;
    grid-column: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em 0;
}

#gridFlag{
    height: 25em;
    user-select: none;
}

.gridBigImgBox{
    grid-row: 2/span 2;
    grid-column: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#gridBigImg{
    height: 30em;
    user-select: none;
}

.gridTextBox{
    grid-row: 4 /span 2;
    grid-column: 1/span 2;
    height: 20vh;
    padding: 0 2em;
    overflow: scroll;
    overflow-x: hidden;
}

.StorySection{
    display: grid;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-columns: 30% auto 30%;
    width: 100%;
    height: 80%;
    padding: 1em;
    grid-gap: 1em;
    background-color: #ababab;
    padding: 1em;
    border-radius: 0.5em;
}

#title3{
    margin-top: 8em;
}

.part1{
    grid-row: 1;
    grid-column: 1 /span 2;
}

.img1{
    grid-row: 1 /span 2;
    grid-column: 3;
    text-align: center;
}

#pic1{
    width: 80%;
    border-radius: 0.5em;
}

.part2{
    grid-column: 1 /span 2;
    grid-row: 2;
}

@media only screen and (max-width:1400px){
    .introHeader h1{
        font-size: 5rem;
    }

    .introSection{
        height: 70vh;
    }

    .allianceTable{
        width: 100%;
    }

    #gridFlag{
        height: 13em;
    }

    #gridBigImg{
        height: 25em;
    }

    .gridTextBox{
        height: 5em;
    }

    .part1{
        grid-column: 1 /span 3;
    }

    .img1{
        grid-column: 1 /span 3;
        grid-row: 2;
    }

    .part2{
        grid-row: 3;
        grid-column: 1 /span 3;
    }

    #pic1{
        width: 25em;
    }

    #title3{
        margin-top: 0;
    }

    #title4{
        height: auto;
    }
}

@media only screen and (max-width: 900px){
    .introSection{
        height: 50vh;
    }

    .introHeader h1{
        font-size: 2.4rem;
    }

    .content-table{
        width: initial;
    }

    .grid-container{
        grid-gap: 0.5em;
    }

    .grid-Header{
        padding: 0;
    }

    .gridFlagBox{
        grid-row: 2/span 2;
        grid-column: 1/span 2;
    }

    .gridBigImgBox{
        display: none;
    }

    #gridFlag{
        height: 10em;
    }

    #gridBigImg{
        height: 15em;
    }

    .gridTextBox{
        padding: 1em 0;
        height: 20em;
    }

    #title3{
        margin-top: 0;
    }

    #pic1{
        width: 20em;
    }
}