@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap');

.navbar {
    background-color: #F2F4F3;
    padding-top: 1em;
}

.navItemStyle {
    color:  #5E503F;
    font-family: 'IM Fell English SC', serif;
    font-size: 1.4rem;
    cursor: pointer;
    user-select: none;
}

.nav-item {
    text-align: left;
    padding-left: 3em;
}

.nav-item:hover{
    cursor: pointer;
}

.mainTitle {
    font-size: 2rem;
    font-family: 'IM Fell English SC', serif;
}

.nav-item:hover{
    text-decoration-line: underline;
}

@media only screen and (max-width: 600px){
    .mainTitle{
        font-size: 1.8rem;
    }
}
