.navbar {
    background-color: #F2F4F3;
    padding-top: 1em;
}

.navItemStyle {
    color:  #5E503F;
    font-family: "Times New Roman", "sans-serif";
    font-size: 1.4rem;
}

.nav-item {
    text-align: left;
    padding-left: 3em;
}

.mainTitle {
    font-size: 1.6rem;
}

.nav-item:hover{
    text-decoration-line: underline;
}