.navbar {
    background-color: #F2F4F3;
    padding-top: 1em;
}

.navItemStyle {
    color:  #5E503F;
    font-family: 'IM Fell English SC', serif;
    font-size: 1.4rem;
    cursor: pointer;
}

.nav-item {
    text-align: left;
    padding-left: 3em;
}

.mainTitle {
    font-size: 2.4rem;
    font-family: 'IM Fell English SC', serif;
}

.nav-item:hover{
    text-decoration-line: underline;
}

@media only screen and (max-width: 700px){
    .mainTitle{
        font-size: 2rem;
    }
}