@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap');

.preload {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease;
    z-index: 10000;
}

.preload h1 {
    position: absolute;
    top: 75%;
    color: var(--secondary-color);
    font-family: 'IM Fell English SC', serif;
}

.preload-finish {
    opacity: 0;
    pointer-events: none;
}

.globe {
    width: 10em;
    height: 10em;
    animation: globe 1s ease infinite alternate;
}

@keyframes globe {
    from {
        transform: translateY(0em);
    }
    to {
        transform: translateY(3em);
    }
}