:root{
    --primary-color: #F8F9FA;
    --secondary-color: #212529;
    --background-color-1: #fff;
    --background-color-2: #CED4DA;
    --color-optional: #F9A826;
    --color-optional-2: #A9927D;
    --background-image-curtain: rgba(255, 255, 255, 0.65);
    --dark-text-color: #212529;
    --light-text-color: #F8F9FA;
    --light-dark-background-color: #343A40;
    --primary-font: 'IM Fell English SC', serif;
    --white: #fff;
}

.dark-mode {
    --primary-color: #232323;
    --secondary-color: #F8F9FA;
    --background-color-1: #343434;
    --background-color-2: #343A40;
    --color-optional: #F9A826;
    --color-optional-2: #A9927D;
    --background-image-curtain: rgba(255, 255, 255, 0.65);
    --dark-text-color: #F8F9FA;
    --light-text-color: #212529;
    --light-dark-background-color: #E9ECEF;
    --primary-font: 'IM Fell English SC', serif;
    --white: #000;
}