:root{
    --primary-color: #F2F4F3;
    --secondary-color: #0A0908;
    --background-color-1: #e8e8e8;
    --background-color-2: #d2d2d2;
    --color-optional: #A9927D;
    --background-image-curtain: rgba(255, 255, 255, 0.65);
    --dark-text-color: #0A0908;
    --light-text-color: #f8f6f6;
    --light-dark-background-color: #3d3c30;
    --primary-font: 'IM Fell English SC', serif;
}
