@import url("root.css");

.popUp {
    display: none;
    box-shadow: black;
    font-family: 'IM Fell English SC', serif;
    background-color: var(--background-color-1);
    border-radius: 10px;
    position: fixed;
    z-index: 99;
    width: auto;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#popUpTitle {

    padding-top: 2vh;
    padding-left: 2em;
    padding-right: 2em;
    font-size: 3rem;
    user-select: none;
}

#facts {
    user-select: none;
    color: var(--secondary-color);
    padding: 2vh;
    font-size: 2vh;
}

#highlight_close {
    cursor: pointer;
    height: 4vh;
    padding: 1vh;
    float: right;
    background-color: var(--color-optional);
}

@media only screen and (max-width: 700px){
    #popUpTitle{
        font-size: 2rem;
    }
}