#darkMode{
    width: 75%;
    height: 60%;
    display: block;
}

#lightMode{
    width: 75%;
    height: 60%;
    display: none;
}

.icon{
    margin-left: 10px;
    margin-right: 25px;
    width: 15%;
    height: 15%;
}

.iconContainer{
    width: 2.5em;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}