@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap');
@import url("../css/navbar.css");
@import url("../css/root.css");
@import url("../css/preload.css");
@import url("saySomethingSmart.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'IM Fell English SC', serif;;
     color: white;
 }

 .container{
     min-height: 100vh;
     max-width: 100%;
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
     padding: 150px 0;
     background-image: linear-gradient(var(--background-image-curtain), var(--background-image-curtain)), url("../Resources/backgroundImg/timelineImg.png");
     background-size: cover;
     background-position: center center;
     background-repeat: no-repeat;
 }

 .timeline{
     width: 80%;
     height: auto;
     max-width: 800px;
     margin: 0 auto;
     position: relative;
 }

 .timeline ul{
     list-style: none;
 }

 .timeline ul li {
     padding: 20px;
     background-color: var(--primary-color);
     color: var(--secondary-color);
     border-radius: 10px;
     margin-bottom: 20px;
     cursor: pointer;
 }

.timeline ul li:last-child {
    margin-bottom: 0;
}

.timeline-content h1{
    font-family: 'IM Fell English SC', serif;
    font-size: 25px;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 10px;
}

.timeline-content p{
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
}

.timeline-content .date{
    font-size: 13px;
    font-weight: 300;
    margin-bottom: 10px;
    letter-spacing: 2px;
}

.icon{
    width: 1.5em;
    height: auto;
}

@media only screen and (min-width: 768px){
    .timeline::before{
        content: '';
        position: absolute;
        height: 100%;
        width: 2px;
        left: 50%;
        transform: translateX(-50%);
        background-color: gray;
    }

    .timeline ul li {
        width: 50%;
        margin-bottom: 50px;
        position: relative;
    }

    .timeline ul li:nth-child(odd){
        float: left;
        clear: right;
        transform: translateX(-30px);
        border-radius: 20px 0px 20px 20px;
    }

    .timeline ul li:nth-child(even){
        float: right;
        clear: left;
        transform: translateX(30px);
        border-radius: 0px 20px 20px 20px;
    }
    .timeline ul li::after{
        content: '';
        position: absolute;
        height: 20px;
        width: 20px;
        background-color: gray;
        border-radius: 50%;
        top: 0;
    }
    .timeline ul li:nth-child(odd)::after{
        transform: translate(50%, -50%);
        right: -14px;
    }

    .timeline ul li:nth-child(even)::after{
        transform: translate(-50%, -50%);
        left: -46px;
    }
    .timeline ul li:hover:after{
        background-color: #c5c5c5;
    }

    .timeline-content .date{
        position: absolute;
        top: -30px;
    }
}