html {
  scroll-behavior: smooth;
  overflow: hidden;
}

body {
  margin: 0;
}

#section1 {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex: 1;
  justify-content: center;
  align-items: center;
  background-image: url("Images/background-1.jpg");
  background-repeat: repeat;
}

#section2 {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.mainTitle {
  font-size: 5vw;
}

.background {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  opacity: 0.2;
}

.downArrow {
  width: 2em;
  height: 2em;
  opacity: 0.2;
  transition: 1s ease-out;
}

.upArrow {
  width: 2em;
  height: 2em;
  bottom: 1em;
  opacity: 0.2;
  transition: 1s ease-out;
}

.downArrow:hover {
  opacity: 1;
  transition: 1s ease;
}
