html {
  scroll-behavior: smooth;
  overflow: hidden;
}

body {
  margin: 0;
}

.grid-container {
  display: grid;
  grid-row: auto auto auto;
  width: 100%;
}

.item-1 {
  border: solid red;
  justify-content: center;
  height: 20vh;
}

.item-2 {
  border: solid blue;
  height: 70vh;

  display: grid;
  justify-content: center;
  align-items: center;
}

.item-3 {
  border: solid green;
  display: grid;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

#section1::before {
  content: "";
  background-image: url("Images/background-1.jpg");
  background-repeat: repeat;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.2;
}

#section2 {
  width: 100vw;
  height: 100vh;
}

.mainTitle {
  text-align: center;
  font-size: 4vw;
}

@media only screen and (max-width: 1000px) {
  .mainTitle {
    font-size: 35px;
  }
}

.downArrow {
  width: 2em;
  height: 2em;
  opacity: 0.2;
  transition: 1s ease-out;
}

.downArrow:hover {
  opacity: 1;
  transition: 1s ease;
}
