body {
  background-color: rgb(165, 147, 125);
}

#bg {
  background-image: url("../FranceImg/1097Img/France1097Bg.jpg");
  background-position: 0em 10em;
  background-repeat: no-repeat;
  background-size: 120em;
  height: 80em;
}

#content {
  margin-bottom: 2em;
  font-family: "Tangerine", cursive;
}

#startBlock {
  background-color: rgb(165, 147, 125);
}

#Main-Header {
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
  font-size: 8em;
  color: black;
}

#bigImg {
  background-color: white;
  border: solid black;
  width: 50%;
  height: auto;
}

#basicInf {
  text-align: left;
  border: 1px solid black;
  margin-top: 1em;
  font-size: 3em;
  background-color: rgba(211, 211, 211, 0.6);
}

th,
td {
  padding: 0.4em;
  border: 1px solid black;
}

#textClass {
  padding-top: 0.5em;
  padding-bottom: 1em;
  background-color: rgb(165, 147, 125);
  font-size: 3em;
}

#WorldMap {
  border: solid black;
  border-radius: 5%;
  width: 40%;
  height: auto;
}

#Flag {
  position: absolute;
  top: 50em;
  margin-left: 22em;
  width: 10em;
  height: auto;
  border-radius: 0.5em;
}

#buttonRow {
  padding-top: 4em;
  padding-left: 2em;
}

#source {
  margin-top: 2em;
  font-size: 0.5em;
}

a,
a:hover {
  color: black;
}
