body {
  background-color: rgb(165, 147, 125);
}

#bg {
  background-image: url("../FranceImg/1939Img/France1939bg.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: auto;
}

#content {
  margin-bottom: 2em;
  font-family: "Roboto Mono", monospace;
}

#startBlock {
  background-color: rgb(165, 147, 125);
}

#Main-Header {
  padding-bottom: 0.7em;
  margin-bottom: 0.5em;
  font-size: 5em;
  color: black;
}

#bigImg {
  background-color: white;
  border: solid black;
  width: 50%;
  height: auto;
}

#basicInf {
  text-align: left;
  border: 1px solid black;
  margin-top: 1em;
  font-size: 1.5em;
  background-color: rgba(211, 211, 211, 0.6);
}

th,
td {
  padding: 0.4em;
  border: 1px solid black;
}

#textClass {
  margin-top: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: rgb(165, 147, 125);
  font-size: 1.7em;
}

#AlbertLebrun {
  position: absolute;
  top: 50em;
  margin-left: 22em;
  width: 10em;
  height: auto;
  border: solid black;
  border-radius: 1em;
}

#WorldMap {
  border: solid black;
  border-radius: 5%;
  width: 55%;
  height: auto;
}

#buttonRow {
  padding-top: 4em;
  padding-left: 2em;
}

#source {
  margin-top: 2em;
  font-size: 0.5em;
}

a {
  color: black;
  font-weight: bold;
}
a:hover {
  color: black;
  font-weight: bolder;
}
