body {
  background-color: rgb(31, 23, 13);
}

#bg {
  background-image: url("../FranceImg/PresentImg/FrBackGround2.jpg");
  background-repeat: no-repeat;
  background-size: 120em;
  width: 100%;
  height: auto;
}

#content {
  font-family: "Public Sans", sans-serif;
}

#startBlock {
  background-color: rgb(211, 211, 211);
  width: 100%;
}

#Main-Header {
  padding-bottom: 0.7em;
  margin-bottom: 0.5em;
  font-size: 5em;
  color: black;
}

#bigImg {
  background-color: white;
  border: solid black;
  width: 50%;
  height: auto;
}

#basicInf {
  text-align: left;
  border: 1px solid black;
  margin-top: 1em;
  font-size: 1.5em;
  background-color: rgba(211, 211, 211, 0.6);
}

th,
td {
  padding: 0.4em;
  border: 1px solid black;
}

#textClass {
  width: 100%;
  margin-top: 1em;
  padding-top: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: rgba(247, 255, 253, 0.8);
  font-size: 2em;
}

#buttonRow {
  padding-top: 4em;
  padding-left: 2em;
}

#source {
  margin-top: 2em;
  font-size: 0.5em;
}

a,
a:hover {
  color: black;
}
