body {
  background-color: rgb(143, 102, 51);
}

#bg {
  background-image: url("../FranceImg/1812Img/NapoleonSchlacht1.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 80em;
}

#content {
  margin-bottom: 2em;
  font-family: Copperplate, Papyrus, fantasy;
}

#Main-Header {
  padding-top: 0.7em;
  padding-bottom: 0.3em;
  font-size: 5em;
  color: white;
}

#bigImg {
  background-color: white;
  border: solid black;
}

#basicInf {
  margin: 0 auto;
  border-collapse: collapse;
  font-size: 1.5em;
  background-color: rgba(211, 211, 211, 0.6);
  margin-bottom: 1.5;
  margin-top: 1.5em;
}

th,
td {
  padding: 0.5em;
  border: 1px solid black;
  text-align: left;
}
th {
  border-right: 0px;
}
td {
  border-left: 0px;
}

#textClass {
  margin-top: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: rgba(255, 179, 79, 0.8);
  font-size: 2em;
}

#charlemagne {
  width: 20em;
  height: auto;
  position: absolute;
  top: 24em;
  border-radius: 5%;
}

#imgPos {
  padding-left: 70em;
}

#buttonRow {
  padding-right: 42em;
}
