body {
  background-color: rgb(143, 102, 51);
}

#bg {
  background-image: url("../FranceImg/1812Img/NapoleonSchlacht1.jpg");
  background-repeat: no-repeat;
  background-size: 120em;
  height: 80em;
}

#content {
  margin-bottom: 2em;
  font-family: Garamond, serif;
}

#startBlock {
  background-color: rgb(255, 193, 112);
}

#Main-Header {
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  margin-bottom: 0.5em;
  font-size: 5em;
  color: black;
  border-bottom: 0.2em solid rgb(143, 102, 51);
}

#bigImg {
  background-color: white;
  border: solid black;
}

#basicInf {
  margin: 0 auto;
  border-collapse: collapse;
  font-size: 1.5em;
  background-color: rgba(211, 211, 211, 0.6);
  margin-bottom: 1.5;
  margin-top: 1.5em;
}

th,
td {
  padding: 0.5em;
  border: 1px solid black;
  text-align: left;
}
th {
  border-right: 0px;
}
td {
  border-left: 0px;
}

#textClass {
  border-top: 0.2em solid rgb(143, 102, 51);
  margin-top: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: rgba(255, 179, 79, 0.8);
  font-size: 2em;
}

#Napoleon {
  transition-duration: 0.5s;
  width: 10em;
  height: auto;
  position: absolute;
  top: 41em;
  margin-left: 18em;
  border-radius: 5%;
  border: 0.08em solid black;
}

#imgPos {
  padding-left: 70em;
}

#buttonRow {
  padding-right: 42em;
}

#source {
  margin-top: 2em;
  font-size: 0.5em;
}
