body {
  background-color: rgb(31, 23, 13);
}

#bg {
  background-image: url("../FranceImg/813Img/Background.jpg");
  background-repeat: no-repeat;
  background-size: 120em;
  height: 80em;
}

#content {
  margin-bottom: 2em;
  font-family: "IM Fell English SC", serif;
}

#startBlock {
  background-color: rgb(59, 42, 19);
}

#Main-Header {
  padding-bottom: 0.7em;
  margin-bottom: 0.5em;
  font-size: 5em;
  color: white;
  border-bottom: solid black;
}

#bigImg {
  background-color: white;
  border: solid black;
  width: 50%;
  height: auto;
}

#basicInf {
  text-align: left;
  border: 1px solid black;
  margin-top: 1em;
  font-size: 1.5em;
  background-color: rgba(211, 211, 211, 0.6);
}

th,
td {
  padding: 0.4em;
  border: 1px solid black;
}

#textClass {
  color: white;
  margin-top: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: rgba(59, 42, 19, 0.9);
  font-size: 2em;
}

#charlemagne {
  margin-top: 1em;
  margin-bottom: 2em;
  width: 15%;
  height: auto;
  border-radius: 5%;
}

#WorldMap {
  border: solid black;
  border-radius: 5%;
  width: 40%;
  height: auto;
}

#buttonRow {
  padding-top: 4em;
  padding-left: 2em;
}

#source {
  margin-top: 2em;
  font-size: 0.5em;
}

a,
a:hover {
  color: black;
}
