body {
  background-image: url("../FranceImg/1812Img/NapoleonSchlacht1.jpg");
  background-color: peru;
  background-size: 1860px auto;
  background-repeat: no-repeat;
  font-family: Copperplate, Papyrus, fantasy;
}
h1 {
  color: white;
  text-align: center;
  font-size: 60px;
  padding: 10px;
}

button {
  transition-duration: 0.4s;
  position: absolute;
  width: 9em;
  height: 2em;
  font-size: 120%;
  padding: 8px;
  border-color: black;
  border-bottom: none;
  font-family: Copperplate, Papyrus, fantasy;
  background-repeat: no-repeat, repeat;
  background-size: 100% 100%;
  color: white;
}

#imgPos {
  text-align: center;
}

#bigImg {
  border: 10px solid black;
  width: 800px;
  height: auto;
  background-color: white;
}
#basicInf {
  margin: 0 auto;
  border-collapse: collapse;
  font-size: 1.5em;
  background-color: rgba(211, 211, 211, 0.6);
  margin-bottom: 1.5;
  margin-top: 1.5em;
}
th,
td {
  padding: 5px;
  border: 1px solid black;
  text-align: left;
}
th {
  border-right: 0px;
}
td {
  border-left: 0px;
}

p.text {
  color: black;
  font-size: 1.5em;
  text-align: center;
  padding: 25px;
  margin-top: 3.7em;
  padding-top: 2em;
  padding-bottom: 2em;
  border-collapse: collapse;
}
#posFlag1 {
  text-align: right;
}
#posFlag2 {
  text-align: left;
}

.sideFlag {
  width: 15em;
  height: 35em;
  position: absolute;
  top: 300px;
  border: 3px solid black;
  border-radius: 2em;
}
#sideFlag1 {
  right: 90em;
}
#sideFlag2 {
  left: 90em;
}
.times {
  text-align: center;
}

#Present {
  margin-top: -2em;
  margin-left: -350px;
}

#ColonialTime {
  margin-top: -2em;
  margin-left: -175px;
}

#NapoleonicTime {
  margin-top: -2em;
}

#CarolingianTime {
  margin-top: -2em;
  margin-left: 175px;
}

#NapoleonPortrait {
  border-radius: 1.5em;
  position: absolute;
  width: 20em;
  height: auto;
  margin-top: -35em;
  margin-left: 95em;
}
