:root {
  --background-color: #d3d7ff;
  --navBarItem-color: #d3d7ff;
  --navBarItemOnHover-color: #d3d7ff;
  --text-color: #000;
  --infoBox-color: #d3d7ff;

  --opacity: 0.95;
}

.dark-theme {
  --background-color: #505050;
  --navBarItem-color: #373838;
  --navBarItemOnHover-color: #303333;
  --text-color: #fff;
  --infoBox-color: #1e2222;

  --text-color: #fff;
}

body {
  background-color: var(--background-color);
}

#bg {
  background-image: url("../FranceImg/1939Img/France1939bg.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: auto;
}

#content {
  margin-bottom: 2em;
  font-family: "Roboto Mono", monospace;
}

#startBlock {
  background-color: var(--background-color);
  width: 100%;
  padding-top: 2em;
  padding-bottom: 2em;

  margin-bottom: 3em;
}

#Main-Header {
  font-size: 5em;
  color: var(--text-color);
}

#bigImg {
  background-color: white;
  border: solid black;
  width: 50%;
  height: auto;
}

#basicInf {
  text-align: left;
  border: 1px solid black;
  margin-top: 1em;
  font-size: 1.5em;
  background-color: var(--background-color);
  color: var(--text-color);
}

th,
td {
  padding: 0.4em;
  border: 1px solid black;
}

#textClass {
  color: var(--text-color);
  margin-top: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: var(--background-color);
  font-size: 1.7em;
}

#WorldMap {
  border: solid black;
  border-radius: 5%;
  width: 55%;
  height: auto;
}

#source {
  margin-top: 2em;
  font-size: 0.5em;
}

a {
  color: var(--text-color);
  font-weight: bold;
}
a:hover {
  color: var(--text-color);
  font-weight: bolder;
}
