.mainTitle-Item {
  background: url("../Images/1939/BackgroundImg/poland-1939.jpg") no-repeat
    center fixed;
  background-size: cover;
}

.mainTitle {
  color: white;
  background-color: #333;
  padding: 0.1em;
  border-radius: 10px;
}

.mainContent-Item {
  background-color: whitesmoke;
}
