.mainTitle-Item {
  background: url("../Images/2022/BackgroundImg/germanyflag.png") no-repeat
    center fixed;
  background-size: cover;
}

.mainTitle {
  color: white;
}

.mainContent-Item {
  background-color: whitesmoke;
}
