/*Basic Styling for all Elements*/
:root {
  --background-color: #282828;
  --primary-color: darkgoldenrod;
  --secondary-color: whitesmoke;
  --border-color: #333;
}
.light-mode {
  --background-color: whitesmoke;
  --secondary-color: #333;
}

html {
  scroll-behavior: smooth;
  overflow: hidden;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/*Navigation Bar*/
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: var(--background-color);
}

/*Elements inside Navbar*/
/*Logo Container*/
.logo {
  color: var(--primary-color);
  font-family: "Nanum Myeongjo", serif;
}

/*Text inside Logo Container*/
.logo h4 {
  font-size: 25px;
}

/*Say Something Smart - Section*/
#funFacts {
  color: var(--primary-color);
  font-style: normal;
  font-family: "Nanum Myeongjo", serif;
  text-decoration-line: none;
  font-size: 25px;
}

#funFacts:hover {
  cursor: pointer;
  color: var(--primary-color);
  text-decoration-line: underline;
}

/*Links inside the Menu*/
.nav-links {
  position: absolute;
  right: 0px;
  height: 90vh;
  top: 10vh;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 1em;
  transform: translateX(100%);
  transition: transform 0.5s ease-in;
}

.nav-links li {
  list-style-type: none;
  opacity: 0;
}

.nav-links a {
  color: var(--primary-color);
  text-decoration: none;
  font-family: "Nanum Myeongjo", serif;
  font-size: 2rem;
}

.nav-links a:hover {
  color: var(--primary-color);
  text-decoration: underline;
}

.nav-active {
  transform: translateX(0%);
}

/*Menu Icon*/
.burger {
  display: block;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: var(--primary-color);
  margin: 5px;
  transition: all 0.3s ease;
}

/*Each Line of the Burger*/
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/*Containers and Items*/

.grid-container {
  display: grid;
  width: 100%;
}

.navBar-Item {
  justify-content: center;
  height: 15vh;
  z-index: 10;
}

.mainTitle-Item {
  height: 75vh;
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 0em 1em 0em 1em;
  border: 0.1em solid var(--border-color);
}

.downButton-Item {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.upButton-Item {
  display: grid;
  justify-content: center;
  align-items: flex-end;
  height: 10vh;
  padding-bottom: 2.5vh;
}

.mainContent-Item {
  margin: 0em 1em 0em 1em;
  border: 0.1em solid var(--border-color);
}

.content-grid {
  display: grid;
  grid-template-rows: 80vh;
  grid-template-columns: 50% 50%;
}

.content-img-item {
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-info-item {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  max-height: 100%;
  padding: 0 0.3em;
}

.content-img {

  max-width: 100%;
  max-height: 100%;


  width: 80%;
}

.table {
  font-size: 1.5rem;
}

.mainTitle {
  font-size: 4rem;
  font-family: "Nanum Myeongjo", serif;
  text-align: center;
}

.arrow {
  width: 2em;
  height: 2em;
  opacity: 0.2;
  transition: 1s ease-out;
}

.arrow:hover {
  opacity: 1;
  transition: 1s ease;
}

/*Random Facts Pop Up Form Style*/
.popUp {
  display: none;
  font-family: "Red Hat Mono", monospace;
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
  border-radius: 10px;
  position: fixed;
  z-index: 100;
  width: auto;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#popUpTitle {
  color: var(--primary-color);
  padding-top: 2vh;
  padding-left: 2em;
  padding-right: 2em;
  font-size: 5vh;
}

#facts {
  color: var(--secondary-color);
  padding: 2vh;
  font-size: 3vh;
}

#highlight_close {
  height: 4vh;
  padding: 1vh;
  float: right;
  border-radius: 25px;
  background-color: var(--primary-color);
}

#highlight_close:hover {
  cursor: pointer;
}

.carousel {
  padding: 0.1rem;
  border: 0.3rem double var(--primary-color);
  width: 60vw;
}

.card-body {
  background-color: var(--background-color);
  color: var(--secondary-color);
  border-radius: 0.5rem;
}

.card-body a {
  text-decoration: none;
  color: var(--primary-color);
}

.card-title {
  font-size: 1.4rem;
  font-weight: bold;
}

/*General Styling for Mobile View*/
@media screen and (max-width: 800px) {
  .navBar-Item {
    height: 20vh;
  }

  .mainTitle-Item {
    height: 70vh;
  }

  .mainTitle {
    font-size: 2.3rem;
  }

  .nav-links {
    top: 18vh;
    height: 82vh;
  }

  nav {
    flex-direction: column;
    height: 18vh;
  }

  .burger {
    padding: 0.6rem 0;
  }

  .content-grid {
    grid-template-columns: 100%;
    grid-template-rows: 40vh 40vh;
  }

  .table {
    font-size: 0.8rem;
  }

  .card-body {
    font-size: 1.8vw;
  }

  .card-title {
    font-size: 1rem;
  }

  .carousel {
    width: 50vw;
  }
}

/*Animation for slidding in the Links*/
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
