body
{
    background-image: url("pics/background.jpg");    
    background-size:cover;
}
#title
{
    text-align: center;
    font-weight: 400;
}
#pic
{   
    width: 65%;  
    border: solid black;     
}
.borderCell
{
    text-align: right;
    border-right: solid black;  
    padding-right: 1em;  
    width:50em;
}
.marginOneEmLeft
{
    margin-left: 1em;
}
.borderRight
{
    padding-left: 1em;
    width: 50em;
}
.marginTop
{
    margin-top: 2em;
    
}
#timeText
{
    text-align: center;
}
.text
{
    text-align: center;
    color: black;
    
}
.links
{
    text-decoration: none;
    color: black;
}
a:hover
{
    color: gray;
}


