.snap-wrapper
{
    width: 100%;
    height: 100vh;


}
.snap-box
{
    width: 100%;
    min-height: 100vh;
    display: flex;
}

.box-1
{
    background-image: url("pics/germanyflag.png");
    background-size: cover;
    color: white;

}
.box-2
{
    background-color: black;
}
.grid-container
{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    width: 100%;

}
.secGrid-container
{
    display: grid;
    grid-template-columns: auto auto ;
    grid-template-rows: auto auto ;
    width: 100%;
    color: white;


}
.secGrid-container > div
{
    padding: 20px;
    margin: 10px;

}
.secGridItemThree
{

    grid-row-start: 2;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end:8;
    margin-top: 5%;
}
.secGridItemFour
{

    grid-row-start: 5;
    grid-row-end: 7;
    grid-column-start: 1;
    grid-column-end:8;
    text-align: center;
}
.secGridItemOne
{
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 8;
    justify-content: center;
    width: 100%;
}
.secGridItemTwo
{
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 8;
    float: right;

}
.grid-container > div
{
    padding: 20px;
    margin: 10px;
}
.yearsBut
{
    margin-right: 1%;
}
.but
{
    font-size: 130%;


}
.item1
{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    justify-content: end;
    height: 40%;


}
.item2
{
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 4;

}
.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 5em;
    text-shadow: 3px 3px 4px #777;
    margin-top: 50px;
    background-color: black;
}
.secFlexContainer
{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    justify-content: center;
    text-decoration: none;
    align-items: center;
}
.header
{
    font-family: Arial;
    font-size: 500%;
    text-shadow: 3px 3px 4px #777
}
.borderPic
{
    width: 100%;
    border-radius: 0.5em;

}
.infTable
{
    width: 100%;
    height: 60%;

}
.infTableItem
{
    color: white;
    background-color: black;
    width: 100%;
    font-size: 2vw;
    margin-top: 2%;
}

.colBackground
{
    background-color: black;
    color: white;
    border: none;

}
#firstPage
{
    font-size: 150%;
}
body
{
    background-color: black;
    color: white;
    margin: 0px;
    overflow: hidden;
}
.item3
{
    grid-column-start: 1;
    grid-column-end: 4;
    justify-content: center;
    text-align: center;

}
#carouselExampleControls
{
    border: black solid;
    width: 40vw;
}
.buttonDownWhite
{
    color: white;
    font-size: 300%;
    text-decoration: none;
    text-align: center;
}
#secondPage
{
    color: black;
}
.textField
{
    font-size: 1.2vw;
    padding-top: 5%;
    color: black;
}
.textFieldHeader
{
    font-size: 1.5vw;
}
.buttonDown
{
    color: black;
    font-size: 300%;
    text-decoration: none;
}

.buttonDown:hover
{
    color: black;
    text-decoration: none;
}
.buttonDownWhite:hover
{
    color: white;
    text-decoration: none;
}
.thirdGrid
{
    display: grid;
    grid-template-columns: auto auto auto;
    width: 100%;
    color: white;
}

.thirdGridItemOne
{
    height: 100%;
    width: 90%;
    padding-left: 5%;
    grid-column-start: 1;
    grid-column-end: 3;
    border: black solid;
}
.thirdGridItemTwo
{
    height: 70%;
    width: 100%;
    grid-column-start: 3;


}
.links
{
    color: white;
    text-decoration: none;
}
.links:hover
{
    text-decoration: none;
    color: white;

}


